<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzk.booking.mapper.MeetingMapper">
    <resultMap id="BaseResultMap" type="com.wzk.booking.model.Meeting">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="meeting_id" jdbcType="VARCHAR" property="meetingId" />
        <result column="room_id" jdbcType="VARCHAR" property="roomId" />
        <result column="meeting_name" jdbcType="VARCHAR" property="meetingName" />
        <result column="meeting_theme" jdbcType="VARCHAR" property="meetingTheme" />
        <result column="start_time" jdbcType="VARCHAR" property="startTime" />
        <result column="end_time" jdbcType="VARCHAR" property="endTime" />
        <result column="count_participants" jdbcType="INT" property="countParticipants"/>
        <result column="delete_flag" jdbcType="INT" property="deleteFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
</mapper>